[package]
name = "sapling-serialization-macro"
version.workspace = true
edition.workspace = true

[lib]
proc-macro = true

[dependencies]
syn.workspace = true
quote.workspace = true
proc-macro-error.workspace = true
proc-macro2.workspace = true
darling.workspace = true
